@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008CEF; 
    padding: 1em; 
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px; 
    margin-right: 10px; 
}

.logo a {
  font-weight: bold;
  margin-left: 10px;
  font-size: 0.93rem;
  text-decoration: none; 
  cursor: pointer;
  color: #fff;
}
.user p {
    font-weight: bold;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    margin: 2rem 1rem; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.rectangle-container {
  display: flex;
  flex-direction: row; 
}
.rectangle img {
    width: 100%; 
    object-fit: cover; 
}
.rectangle p {
    text-align: center;
    margin: 1rem 0;
}
.rectangle button {
    background-color: #008CEF;
    color: #fff;
    padding: 1.0rem;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    font-size: 1rem; 

}
.rectangle button:hover {
    background-color: #008CEF;
}
.rectangle button a {
    text-decoration: none;
    font-size: 0.93rem; 
    font-weight: 500;
    color: #fff;
}
.rectangle h3 {
    color: #008CEF;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
.chat-container {
  margin-top: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 400px;
  margin: auto;
}
.chat-box {
  max-height: 200px;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f4f4f4;
  margin-bottom: 1rem;
}
.chat-message {
  background-color: #d9edf7;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.chat-input {
  width: calc(100% - 80px);
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
}
.chat-send-btn {
  padding: 0.5rem;
  background-color: #008CEF;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .rectangle-container {
    display: flex;
    flex-direction: column;
  }
  .rectangle {
    width: 100%; 
    margin: 1rem 0; 
  }
  .rectangle button {
    width: 100%; 
    margin-top: 1rem; 
    padding: 0.8rem; 
    font-size: 1rem; 
  }
}